<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <queries>
        <package android:name="com.tencent.mobileqq" />
        <package android:name="com.tencent.tim" />
    </queries>

    <application
        android:name=".application.MyApplication"
        android:icon="@drawable/icon_x_auto_daily_2"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon_x_auto_daily_2"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:allowBackup="true"
        android:fullBackupOnly="true">
        <activity android:name=".activity.common.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="de.robv.android.xposed.category.MODULE_SETTINGS" />
            </intent-filter>
        </activity>

        <activity-alias
            android:name=".activity.common.MainActivityAlias"
            android:label="@string/app_name"
            android:targetActivity=".activity.common.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <provider
            android:name="rikka.shizuku.ShizukuProvider"
            android:authorities="me.teble.xposed.autodaily.shizuku"
            android:enabled="true"
            android:exported="true"
            android:multiprocess="false"
            android:permission="android.permission.INTERACT_ACROSS_USERS_FULL" />

        <meta-data
            android:name="xposedmodule"
            android:value="true"/>
        <meta-data
            android:name="xposeddescription"
            android:value="依赖于QQ执行的全自动签到插件"/>
        <meta-data
            android:name="xposedminversion"
            android:value="54"/>
        <meta-data
            android:name="xposedscope"
            android:resource="@array/xposedscope"/>
    </application>

</manifest>